{% extends "doctor/base.html" %}
{% load static %}



{% block connectcss %} 
<link rel="stylesheet" href="{% static 'doctor/make_post.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock connectcss %}

{% block content %} 

{% block style %}
<style>
    .ql-container {
        height: 84%;
    }
</style>
{% endblock style %}

<div>
    <form method="POST" enctype='multipart/form-data' >
        {% csrf_token %}
        <div class="container">

            <h1 class="title">Post</h1>
        
            <div class="grid">
                <div class="form-group a">
                    <label for="name">Title</label>
                    <input name="title" id="name" type="text">
                </div>

                <div class="form-group b">
                    <label for="name">Upload Photo/File</label>
                    <input type="file" id="image" name="image" accept="image/png, image/gif, image/jpeg, image/jpg" />
                </div>
            </div>
            <div class="textarea-group">
                <label for="bio">Description</label>
                {% comment %} <div id="editor"> {% endcomment %}
                    <textarea name="description" id="bio"></textarea>
                {% comment %} </div> {% endcomment %}
            </div>
        
            <div class="button-container">
                <button class="button">POST</button>
            </div>
        </div>
    </form>
</div>




{% endblock content %}

{% block script %} 
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor', {
      theme: 'snow'
    });
  </script>

{% endblock script %}