{% extends "patient/base.html" %}
{% load static %}


{% block connectcss %} 
<link rel="stylesheet" href="{% static 'patient/patientdetails.css' %}">
{% endblock connectcss %}


{% block content %} 
{% if messages %}
<ul class="messages" style="list-style: none; padding-left: 0;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="background-color: grey; color: black; padding-top: 10px; padding-bottom: 10px">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
    <div class="container">
        <div style="margin: 15px;">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <h4 style="margin-bottom: 20px;">Lungs Health</h4>
            </div>
            <div class="col-half">
                <h6>Gender</h6>
                <div class="input-group"><input id="gender-male" type="radio" name="gender" value=1 required /><label
                        for="gender-male" style="margin-right: 2px;">Male</label>
                        <input id="gender-female" type="radio" name="gender"
                        value=2 required /><label for="gender-female">Female</label></div>
            </div>
            <div class="col-half">
                <h6>Are you a chain smoker?</h6>
                <div class="input-group">
                    <input id="smoker-yes" type="radio" name="smoker" value=1 required />
                    <label for="smoker-yes" style="margin-right: 2px;">Yes</label>
                    <input id="smoker-no" type="radio" name="smoker" value=0 required /><label for="smoker-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>Do you consume any other tobacco products?</h6>
                <div class="input-group">
                    <input id="tobacco-yes" type="radio" name="tobacco" value=1 required />
                    <label for="tobacco-yes" style="margin-right: 2px;">Yes</label>
                    <input id="tobacco-no" type="radio" name="tobacco" value=0 required /><label for="tobacco-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>Do you have High Blood Pressure?</h6>
                <div class="input-group">
                    <input id="bp-yes" type="radio" name="bp" value=1 required />
                    <label for="bp-yes" style="margin-right: 2px;">Yes</label>
                    <input id="bp-no" type="radio" name="bp" value=0 required /><label for="bp-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>Are you Obese?</h6>
                <div class="input-group">
                    <input id="obese-yes" type="radio" name="obese" value=1 required  />
                    <label for="obese-yes" style="margin-right: 2px;">Yes</label>
                    <input id="obese-no" type="radio" name="obese" value=0 required  /><label for="obese-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>Do you have Diabetes?</h6>
                <div class="input-group">
                    <input id="diabetes-yes" type="radio" name="diabetes" value=1 required />
                    <label for="diabetes-yes" style="margin-right: 2px;">Yes</label>
                    <input id="diabetes-no" type="radio" name="diabetes" value=0 required /><label for="diabetes-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>Do you have Metabolic Syndrome?</h6>
                <div class="input-group">
                    <input id="metabolic-yes" type="radio" name="metabolic" value=1 required />
                    <label for="metabolic-yes" style="margin-right: 2px;">Yes</label>
                    <input id="metabolic-no" type="radio" name="metabolic" value=0 required /><label for="metabolic-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>Do you use stimulant drugs?</h6>
                <div class="input-group">
                    <input id="stimulant-yes" type="radio" name="stimulant" value=1 required />
                    <label for="stimulant-yes" style="margin-right: 2px;">Yes</label>
                    <input id="stimulant-no" type="radio" name="stimulant" value=0 required /><label for="stimulant-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>Do you have a family history of cardiac arrest?</h6>
                <div class="input-group">
                    <input id="cardiac-yes" type="radio" name="cardiac" value=1 required />
                    <label for="cardiac-yes" style="margin-right: 2px;">Yes</label>
                    <input id="cardiac-no" type="radio" name="cardiac" value=0 required /><label for="cardiac-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>History of Preclampsia</h6>
                <div class="input-group">
                    <input id="preclam-yes" type="radio" name="preclam" value=1 required />
                    <label for="preclam-yes" style="margin-right: 2px;">Yes</label>
                    <input id="preclam-no" type="radio" name="preclam" value=0 required /><label for="preclam-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>CABG history</h6>
                <div class="input-group">
                    <input id="cabg-yes" type="radio" name="cabg" value=1 required />
                    <label for="cabg-yes" style="margin-right: 2px;">Yes</label>
                    <input id="cabg-no" type="radio" name="cabg" value=0 required /><label for="cabg-no">No</label>
                </div>
            </div>
            <div class="col-half">
                <h6>Do you have any respirstory illness?</h6>
                <div class="input-group">
                    <input id="respi-yes" type="radio" name="respi" value=1 required />
                    <label for="respi-yes" style="margin-right: 2px;">Yes</label>
                    <input id="respi-no" type="radio" name="respi" value=0 required  /><label for="respi-no">No</label>
                </div>
            </div>
            <button data-toggle="tooltip" data-placement="bottom" data-original-title="Please Check Terms and Conditions"  type="submit" style="margin-top: 15px;background-color: #11CB95;" class="btn" >Submit</button>
        </form>
    </div>
    </div>
    </div>

{% endblock content %}

{% block script %} 
<script>
    function myFunction() {
        var input;
        input = document.getElementById("terms");
        if (input.value == "off") {
            input.value = "on";
        } else {
            input.value = "off";
        }
        console.log(input.value);
    }
    $(function () {
        var input;
        input = document.getElementById("terms");
        if (input.value == "off") {
            $('[data-toggle="tooltip"]').tooltip({ trigger: 'click' });
        } else {
            $('[data-toggle="tooltip"]') = "none";
        }
    });
</script>
{% endblock script %}