{% extends "patient/base.html" %}
{% load static %}

{% block connectcss %} 
<link rel="stylesheet" href="{% static 'patient/services.css' %}">
{% endblock connectcss %}

{% block style %}
<style>
    .pagination {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: 6px;
        margin-bottom: 10px;
    }
    
    .button_grp ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-left: 0px;
    }
    
    .button_grp ul li{
        background: #fff;
        margin: 10px;
        padding: 10px 15px;
        min-width: 80px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.125);
    }
    
    .button_grp ul li.active,
    .button_grp ul li:hover{
        background: #0000fe;
        color: #fff;
    }
    
    .item_grp{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .item_grp .item{
        height: auto;
        background: #fff;
        margin: 10px;
        border-radius: 5px;
        padding: 15px;
        text-align: center;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.125);
    }
</style>
{% endblock style %}

{% block content %}
    <div class="container-fluid" style="margin-top: 3%; max-width: 92%">
        <form method="GET" action="" style="margin-bottom: 16px;">
            <div class="row height align-items-center">
                <div class="col-md-12">
                    <div class="form"> <i class="fa fa-search"></i> <input id="myInput" onkeyup="myFunction()" style="border-radius: 8px" type="text" class="form-control form-input" placeholder="Search anything..." name="search"> 
                        <span style="margin: -6px;" class="left-pan">
                            <button class="btn btn-primary" type="submit"> Search </button>
                        </span> 
                    </div>
                </div>
            </div>
        </form>
        <a class="btn" href={% url 'map_show' pk=context.pk %}>Click to see locations on map</a>
        <div class="container-fluid">
            <div class="button_grp">
                <ul>
                    <li data-li="all" class="btn-filter active">All</li>
                    <li data-li="Lungs" class="btn-filter">Lungs</li>
                    <li data-li="Hair" class="btn-filter">Hair</li>
                    <li data-li="Heart" class="btn-filter">Heart</li>
                    <li data-li="Kidney" class="btn-filter">Kidney</li>
                    <li data-li="ENT" class="btn-filter">ENT</li>
                    <li data-li="Eyes" class="btn-filter">Eyes</li>
                    <li data-li="Bones" class="btn-filter">Bones</li>
                    <li data-li="Dentist" class="btn-filter">Dentist</li>
                    <li data-li="Homeopathic" class="btn-filter">Homeopathic</li>
                    <li data-li="Ayurvedic" class="btn-filter">Ayurvedic</li>
                    <li data-li="Pediatrician" class="btn-filter">Pediatrician</li>
                    <li data-li="None" class="btn-filter">None</li>
                </ul>
            </div>
        </div>
        <div class="row item_grp">
            {% for result in context.data %}
                <div class="col-md-6 col-lg-4">
                    <div class="card {{ result.speciality }} item" style="margin-bottom: 12px; border-radius: 10px;">
                        <h5 class="card-header">Name: {{ result.name }}</h5>
                        <div class="card-body">
                        <h5 class="card-title">ID: {{ result.doc_id }}</h5>
                        <p class="card-text doc_email">Email: {{ result.email }}</p>
                        <p class="card-text doc_email">Speciality: {{ result.speciality }}</p>.
                        <a href="{% url 'dpdetails' pk=context.pk pk2=result.doc_id %}" class="btn btn-primary">More Info</a>
                        {% comment %} <form method="post">
                            {% csrf_token %}
                            <input name="temp_doc_id" value={{ result.doc_id }} style="display: none">
                            <input class="btn btn-primary" type="Submit" Value="More Info">
                        </form> {% endcomment %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        {% comment %} <table style="border-color: #bfc3c7;" class="table table-bordered">
            <thead style="text-align: center;" class="thead-dark">
                <tr>
                    <th style="text-align: center;" scope="col">Name</th>
                    <th style="text-align: center;" scope="col">Doctor_id</th>
                    <th style="text-align: center;" scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for result in all_search_results %}
                    <tr>
                        <td style="text-align: center;">{{ result.name }}</td>
                        <td style="text-align: center;">{{ result.doc_id }}</td>
                        <td style="text-align: center;">{{ result.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> {% endcomment %}
        {% comment %} <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"><i class="fas fa-regular fa-backward-fast"></i></a>
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-regular fa-angles-left"></i></a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-regular fa-forward-fast"></i></a>
                <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-regular fa-angles-right"></i></a>
                {% endif %}
            </span>
        </div> {% endcomment %}
        {% comment %} <div class="row">
            {% for result in all_search_results %}
                <div class="col-md-6 col-lg-4">
                    <div class="card" style="margin-bottom: 12px; border-radius: 10px;">
                        <h5 class="card-header">Name: {{ result.name }}</h5>
                        <div class="card-body">
                        <h5 class="card-title">ID: {{ result.doc_id }}</h5>
                        <p class="card-text doc_email">Email: {{ result.email }}</p>
                        <a href="#" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> {% endcomment %}
    </div>
{% endblock content %}

{% block script %}
<script>
    function myFunction() {
        var input, filter, ul, li, name, i, email;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        const cards = document.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            name = cards[i].getElementsByTagName("h5")[0];
            email = cards[i].getElementsByClassName("doc_email")[0];
            if (name.innerHTML.toUpperCase().includes(filter) || email.innerHTML.toUpperCase().includes(filter)) {
                cards[i].parentElement.style.display = "";
            } else {
                cards[i].parentElement.style.display = "none";
            }
        }
    }
    $(".btn-filter").click(function(){
		var attr = $(this).attr("data-li");

		$(".btn-filter").removeClass("active");
		$(this).addClass("active");

		$(".item").parent().hide();

		if(attr == "Lungs"){
			$("." + attr).parent().show();
		}
		else if(attr == "Hair"){
			$("." + attr).parent().show();
		}
		else if(attr == "Heart"){
			$("." + attr).parent().show();
		}
		else if(attr == "Kidney"){
			$("." + attr).parent().show();
		}
		else if(attr == "ENT"){
			$("." + attr).parent().show();
		}
		else if(attr == "Eyes"){
			$("." + attr).parent().show();
		}
		else if(attr == "Bones"){
			$("." + attr).parent().show();
		}
		else if(attr == "Dentist"){
			$("." + attr).parent().show();
		}
		else if(attr == "Homeopathic"){
			$("." + attr).parent().show();
		}
		else if(attr == "Ayurvedic"){
			$("." + attr).parent().show();
		}
		else if(attr == "Pediatrician"){
			$("." + attr).parent().show();
		}
		else if(attr == "None"){
			$("." + attr).parent().show();
		}
		else{
			$(".item").parent().show();
		}
	});
</script>
{% endblock script %}
